@model OnlineShoping.DAL.Tbl_Product

@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div>
    <h4>Product</h4>
    <hr />
    <dl class="container">


        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            <img style="width:80px ; height:100px" src="~/ProductImgs/@Model.ProductImage" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayName("Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Category.CategoryName)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



      

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color container">
    <input type="submit" value="Delete" class="btn btn-danger" /> 
    <a onclick="window.history.back();" class="btn btn-info" style="color:white">Cancel</a>
</div>
    }
</div>
