
@using OnlineShoping.DAL
@if (Session["UserId"] != null || Session["UserName"] != null)
{
    var _DBEntity = new dbMyOnlineShoppingEntities();
    int UserId = (int)Session["UserId"];
    var Curr_User = _DBEntity.Tbl_Members.Where(a => a.MemberId == UserId).SingleOrDefault();

    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <span class="glyphicon glyphicon-user"></span>
                <strong>welcome: @Curr_User.FristName</strong>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-user">
                        <div class="row">
                           
                            <div class="col-lg-8 center-block">

                                <a style="position:relative;top:50% ; left:50%" href="~/Home/Checkout">CheckOuts</a> <br />
                                <a style="position:relative;top:50% ; left:50%" href="~/Home/MyOrders">My Pendding Orders</a> <br />
                                <a style="position:relative;top:50% ; left:50%" href="~/Account/EditProfile">Edit Profile</a>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider">
                </li>
                <li>
                    <div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>

                                    @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                                    {
                                        <a style="position:relative;top:50% ;" class="btn btn-danger btn-block" href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
                                    }

                                </p>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

        </li>

        @*<li>
            @Html.ActionLink("Hello " + Session["UserName"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
            {
                <a class="btn btn-default" href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
            }
        </li>*@
    </ul>
   
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

